In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('h1b_kaggle.csv',sep=',',index_col='Unnamed: 0')

/Applications/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3002458 entries, 1 to 3002458
Data columns (total 10 columns):
CASE_STATUS           object
EMPLOYER_NAME         object
SOC_NAME              object
JOB_TITLE             object
FULL_TIME_POSITION    object
PREVAILING_WAGE       float64
YEAR                  float64
WORKSITE              object
lon                   float64
lat                   float64
dtypes: float64(4), object(6)
memory usage: 252.0+ MB

In [6]:
data.describe()

       PREVAILING_WAGE          YEAR           lon           lat
count     3.002373e+06  3.002445e+06  2.895216e+06  2.895216e+06
mean      1.469984e+05  2.013855e+03 -9.213441e+01  3.816054e+01
std       5.287609e+06  1.680612e+00  1.965591e+01  4.672835e+00
min       0.000000e+00  2.011000e+03 -1.578583e+02  1.343719e+01
25%       5.437100e+04  2.012000e+03 -1.119261e+02  3.416536e+01
50%       6.502100e+04  2.014000e+03 -8.615862e+01  3.910312e+01
75%       8.143200e+04  2.015000e+03 -7.551381e+01  4.088374e+01
max       6.997607e+09  2.016000e+03  1.457298e+02  6.483778e+01

In [7]:
data = data[:-13]

In [8]:
data.drop(2434308,inplace=True)

In [9]:
data.PREVAILING_WAGE.mean()

146998.4319151606

In [10]:
data.FULL_TIME_POSITION.fillna(value='Y',inplace=True)

In [11]:
data.PREVAILING_WAGE[data.PREVAILING_WAGE.notnull()].mean()

146998.4319151606

In [12]:
data.PREVAILING_WAGE.fillna(value=146998.43,inplace=True)

In [13]:
for col in data.columns:
    print(col,data[col].isnull().value_counts())

CASE_STATUS False    3002444
Name: CASE_STATUS, dtype: int64
EMPLOYER_NAME False    3002399
True          45
Name: EMPLOYER_NAME, dtype: int64
SOC_NAME False    2984723
True       17721
Name: SOC_NAME, dtype: int64
JOB_TITLE False    3002415
True          29
Name: JOB_TITLE, dtype: int64
FULL_TIME_POSITION False    3002444
Name: FULL_TIME_POSITION, dtype: int64
PREVAILING_WAGE False    3002444
Name: PREVAILING_WAGE, dtype: int64
YEAR False    3002444
Name: YEAR, dtype: int64
WORKSITE False    3002444
Name: WORKSITE, dtype: int64
lon False    2895203
True      107241
Name: lon, dtype: int64
lat False    2895203
True      107241
Name: lat, dtype: int64

In [14]:
data[data.EMPLOYER_NAME.isnull()]

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
19797,WITHDRAWN,NaN,ARCHITECTURAL AND ENGINEERING MANAGERS,ENGINEERING MANAGER,Y,110594.00,2016.0,"DEERFIELD BEACH, FLORIDA",-80.099766,26.318412
74904,DENIED,NaN,FINANCIAL ANALYSTS,BUSINESS FINANCIAL ANALYST,N,63066.00,2016.0,"TAMPA, FLORIDA",-82.457178,27.950575
103771,DENIED,NaN,COMPUTER SYSTEMS ANALYSTS,BUSINESS ANALYST,N,55390.40,2016.0,"FAIRFAX, VIRGINIA",-77.306373,38.846224
185702,DENIED,NaN,COMPUTER SYSTEMS ANALYSTS,COMPUTER SYSTEMS ANALYST,N,64813.00,2016.0,"EDISON, NEW JERSEY",-74.412095,40.518715
187388,CERTIFIED,NaN,COMPUTER SYSTEMS ANALYSTS,COMPUTER SYSTEMS ANALYST,N,64813.00,2016.0,"EDISON, NEW JERSEY",-74.412095,40.518715
188030,CERTIFIED,NaN,COMPUTER SYSTEMS ANALYSTS,PROGRAMMER ANALYST,Y,83678.00,2016.0,"REDMOND, WASHINGTON",-122.121512,47.673988
277184,CERTIFIED,NaN,COMPUTER PROGRAMMERS,PROGRAMMER ANALYST,Y,73091.00,2016.0,"SUNNYVALE, CALIFORNIA",-122.036350,37.368830
291833,DENIED,NaN,"SOFTWARE DEVELOPERS, APPLICATIONS","VICE PRESIDENT, SENIOR PRINCIPAL DEVELOPMENT M...",Y,118934.00,2016.0,"NEW YORK, NEW YORK",-74.005941,40.712784
393684,CERTIFIED,NaN,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,88421.00,2016.0,"TAMPA, FLORIDA",-82.457178,27.950575
396132,CERTIFIED,NaN,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,90813.00,2016.0,"LONG ISLAND CITY, NEW YORK",-73.948542,40.744679
438355,WITHDRAWN,NaN,DATABASE ADMINISTRATORS,ORACLE DATABASE ADMINISTRATOR,Y,81349.00,2016.0,"OMAHA, NEBRASKA",-95.997988,41.252363
506707,CERTIFIED,NaN,"COMPUTER OCCUPATIONS, ALL OTHER",IT PROJECT MANAGER,N,69305.60,2016.0,"CHELMSFORD, MASSACHUSETTS",-71.367284,42.599814
582666,CERTIFIED,NaN,"MEDICAL SCIENTISTS, EXCEPT EPIDEMIOLOGISTS",RESEARCH INTERN,N,40622.40,2016.0,"VAIL, COLORADO",NaN,NaN
667445,WITHDRAWN,NaN,MANAGEMENT ANALYSTS,NaN,Y,107328.00,2015.0,"NY, NEW YORK",-74.005941,40.712784
667954,WITHDRAWN,NaN,FINANCIAL MANAGERS,NaN,Y,117624.00,2015.0,"NA, FLORIDA",NaN,NaN
721439,WITHDRAWN,NaN,MATERIALS SCIENTISTS,PRINCIPAL SCIENTIST,Y,90522.00,2015.0,"JUPITER, FLORIDA",-80.094209,26.934225
874759,CERTIFIED,NaN,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE DEVELOPER APPLICATIONS,Y,62421.00,2015.0,"LEWIS CENTER, OHIO",-83.010099,40.198388
949693,WITHDRAWN,NaN,COMPUTER PROGRAMMERS,COMPUTER PROGRAMMERS,Y,63981.00,2015.0,"IRVING, TEXAS",-96.948894,32.814018
1026032,WITHDRAWN,NaN,NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,SYSTEMS ADMINISTRATOR,Y,61714.00,2015.0,"RESTON, VIRGINIA",-77.357003,38.958631
1062199,WITHDRAWN,NaN,"COMPUTER OCCUPATIONS, ALL OTHER",QA ANALYST,Y,57990.00,2015.0,"CHARLOTTE, NORTH CAROLINA",-80.843127,35.227087
1270364,WITHDRAWN,NaN,Industrial Production Managers,ENGINEER II,Y,72072.00,2014.0,"NA, ARIZONA",NaN,NaN
1272616,WITHDRAWN,NaN,"Airline Pilots, Copilots, and Flight Engineers",CAPTAIN (FLIGHT PILOT),Y,93753.00,2014.0,"CA, CALIFORNIA",NaN,NaN
1274663,WITHDRAWN,NaN,"Mining and Geological Engineers, Including Mining",HEALTH AND SAFETY SPECIALIST II,Y,59738.00,2014.0,"NA, TEXAS",NaN,NaN
1276934,WITHDRAWN,NaN,Architectural and Engineering Managers,VICE PRESIDENT OF ENGINEERING,Y,104478.00,2014.0,"SAN FRANCISCO, CALIFORNIA",-122.419415,37.774929
1284022,WITHDRAWN,NaN,Management Analysts,MANAGEMENT ANALYST,Y,68890.00,2014.0,"SAN FRANCISCO, CALIFORNIA",-122.419415,37.774929
1285251,WITHDRAWN,NaN,Marketing Managers,CHIEF OPERATING OFFICER,Y,135574.00,2014.0,"SAN FRANCISCO, CALIFORNIA",-122.419415,37.774929
1286219,WITHDRAWN,NaN,"Software Developers, Applications",NaN,Y,108888.00,2014.0,"SAN FRANCISCO, CALIFORNIA",-122.419415,37.774929
1299693,DENIED,NaN,NaN,PROJECT MANAGER,Y,68598.00,2014.0,"BAKERSFIELD, CALIFORNIA",-119.018713,35.373292
1402948,DENIED,NaN,Computer Systems Analysts,PROGRAMMER ANALYST,Y,69805.00,2014.0,"ALLENTOWN, PENNSYLVANIA",-75.490183,40.608430
1805986,WITHDRAWN,NaN,"Software Developers, Applications",SENIOR SOFTWARE QA ENGINEER,Y,100984.00,2013.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208
1951671,WITHDRAWN,NaN,Computer Programmers,PROGRAMMER ANALYST,Y,53394.00,2013.0,"NEW YORK, NEW YORK",-74.005941,40.712784
2033038,WITHDRAWN,NaN,"Software Developers, Applications",NaN,Y,146998.43,2013.0,"CA, CALIFORNIA",NaN,NaN
2051359,CERTIFIED,NaN,Computer Programmers,PROGRAMMERS,Y,57283.00,2013.0,"TEMPLE TERRACE, FLORIDA",-82.389260,28.035296
2175822,WITHDRAWN,NaN,NaN,SENIOR PROGRAMMER ANALYST,Y,98987.00,2013.0,"SEATTLE, WASHINGTON",-122.332071,47.606209
2251042,CERTIFIED,NaN,Mechanical Engineers,PROJECT ENGINEER,Y,78811.00,2012.0,"LIVONIA, MICHIGAN",-83.352710,42.368370
2270635,DENIED,NaN,"Computer Occupations, All Other*",MANAGER,Y,89398.00,2012.0,"PHOENIX, ARIZONA",-112.074037,33.448377
2327772,WITHDRAWN,NaN,Computer Systems Analysts,NaN,Y,79102.00,2012.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208
2348911,WITHDRAWN,NaN,"Biological Scientists, All Other",NaN,Y,52978.00,2012.0,"NJ, NEW JERSEY",NaN,NaN
2506134,WITHDRAWN,NaN,"Software Developers, Applications",SOFTWARE ENGINEER,Y,146998.43,2012.0,"CA, CALIFORNIA",NaN,NaN
2595881,WITHDRAWN,NaN,Family and General Practitioners,FAMILY MEDICINE PHYSICIAN,Y,112154.00,2012.0,"BRONX, NEW YORK",-73.864827,40.844782
2619566,WITHDRAWN,NaN,NaN,NaN,Y,94848.00,2012.0,"ASHBURN, VIRGINIA",-77.487442,39.043757
2691514,WITHDRAWN,NaN,Market Research Analysts,NaN,Y,146998.43,2011.0,"NY, NEW YORK",-74.005941,40.712784
2834490,WITHDRAWN,NaN,NaN,HARDWARE ENGINEER,Y,0.00,2011.0,"CA, CALIFORNIA",NaN,NaN
2866641,WITHDRAWN,NaN,Software Quality Assurance Engineers and Testers,TEST MANAGER,Y,65541.00,2011.0,"CA, CALIFORNIA",NaN,NaN
2995390,CERTIFIED,NaN,"Software Developers, Systems Software",SENIOR CONSULTANT,Y,81723.00,2011.0,"SOUTHFIELD, MICHIGAN",-83.221873,42.473369

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le = LabelEncoder()
data['CASE_STATUS']= le.fit_transform(data['CASE_STATUS'])

In [17]:
data['FULL_TIME_POSITION'] = le.fit_transform(data['FULL_TIME_POSITION'])

In [18]:
data[data.EMPLOYER_NAME == 'INFOSYS LIMITED']

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
28445,6,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL - BUSINESS CONSULTING,1,102752.0,2016.0,"IRVINE, CALIFORNIA",-117.794694,33.683947
28448,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,99050.0,2016.0,"GREENSBORO, NORTH CAROLINA",-79.791975,36.072635
28450,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,ASSOCIATE - BUSINESS CONSULTING,1,71074.0,2016.0,"IRVINE, CALIFORNIA",-117.794694,33.683947
28466,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,110136.0,2016.0,"RICHARDSON, TEXAS",-96.729852,32.948334
28475,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,SENIOR ASSOCIATE - BUSINESS CONSULTING,1,101962.0,2016.0,"CHICAGO, ILLINOIS",-87.629798,41.878114
28521,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,SENIOR ASSOCIATE - BUSINESS CONSULTING,1,88670.0,2016.0,"CYPRESS, CALIFORNIA",-118.037285,33.816960
28531,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL - BUSINESS CONSULTING,1,86986.0,2016.0,"WICHITA, KANSAS",-97.330053,37.687176
28535,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,115461.0,2016.0,"ATLANTA, GEORGIA",-84.387982,33.748995
28537,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,110781.0,2016.0,"ENGLEWOOD, COLORADO",-104.987760,39.647765
28548,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,117229.0,2016.0,"IRWINDALE, CALIFORNIA",-117.935341,34.106953
28629,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL - BUSINESS CONSULTING,1,106246.0,2016.0,"IRVINE, CALIFORNIA",-117.794694,33.683947
28639,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,SENIOR ASSOCIATE - BUSINESS CONSULTING,1,75837.0,2016.0,"PHOENIX, ARIZONA",-112.074037,33.448377
28702,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL - ENTERPRISE APPLICATIONS,1,102523.0,2016.0,"MINNEAPOLIS, MINNESOTA",-93.265011,44.977753
28743,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,INDUSTRY PRINCIPAL - US,1,130166.0,2016.0,"SUNNYVALE, CALIFORNIA",-122.036350,37.368830
28766,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,87693.0,2016.0,"COLUMBUS, INDIANA",-85.921380,39.201440
28801,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,134888.0,2016.0,"HOUSTON, TEXAS",-95.369803,29.760427
28815,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,126755.0,2016.0,"BETHPAGE, NEW YORK",-73.482069,40.744266
28828,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,INDUSTRY PRINCIPAL - US,1,110136.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
28829,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,101795.0,2016.0,"HARTFORD, CONNECTICUT",-72.685093,41.763711
28830,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,134888.0,2016.0,"HOUSTON, TEXAS",-95.369803,29.760427
28863,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,SENIOR ASSOCIATE - BUSINESS CONSULTING,1,107661.0,2016.0,"NEW YORK, NEW YORK",-74.005941,40.712784
28869,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,125174.0,2016.0,"NORTHFIELD, ILLINOIS",-87.780897,42.099750
28871,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,125174.0,2016.0,"OAK BROOK, ILLINOIS",-87.953553,41.839787
28938,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,133515.0,2016.0,"LYNDHURST, NEW JERSEY",-74.124306,40.812017
28972,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL - BUSINESS CONSULTING,1,133515.0,2016.0,"NEW YORK, NEW YORK",-74.005941,40.712784
28977,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,98675.0,2016.0,"MIAMISBURG, OHIO",-84.286608,39.642836
29016,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,130166.0,2016.0,"SUNNYVALE, CALIFORNIA",-122.036350,37.368830
29024,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,134888.0,2016.0,"HOUSTON, TEXAS",-95.369803,29.760427
29036,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,1,94307.0,2016.0,"FORT WORTH, TEXAS",-97.330766,32.755488
29075,0,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL - BUSINESS CONSULTING,1,80558.0,2016.0,"BENTONVILLE, ARKANSAS",-94.208817,36.372854
...,...,...,...,...,...,...,...,...,...,...
3000228,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,67101.0,2011.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3000237,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,63877.0,2011.0,"NORTHBROOK, ILLINOIS",-87.828955,42.127527
3000250,0,INFOSYS LIMITED,Computer Systems Analysts,LEAD,1,82368.0,2011.0,"RICHARDSON, TEXAS",-96.729852,32.948334
3000263,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,60237.0,2011.0,"SOUTH BARRINGTON, ILLINOIS",NaN,NaN
3000289,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,64792.0,2011.0,"CHARLOTTE, NORTH CAROLINA",-80.843127,35.227087
3000295,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,63877.0,2011.0,"CHICAGO, ILLINOIS",-87.629798,41.878114
3000320,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,69014.0,2011.0,"TORRANCE, CALIFORNIA",-118.340629,33.835849
3000321,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,89232.0,2011.0,"CUPERTINO, CALIFORNIA",-122.032182,37.322998
3000348,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,64792.0,2011.0,"CHARLOTTE, NORTH CAROLINA",-80.843127,35.227087
3000356,0,INFOSYS LIMITED,Computer Systems Analysts,LEAD,1,75587.0,2011.0,"NORTHBROOK, ILLINOIS",-87.828955,42.127527
3000400,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,76544.0,2011.0,"NEW PROVIDENCE, NEW JERSEY",-74.401540,40.698435
3000435,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,62462.0,2011.0,"ATLANTA, GEORGIA",-84.387982,33.748995
3000505,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,58157.0,2011.0,"ST. PAUL, MINNESOTA",-93.089958,44.953703
3000515,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,63294.0,2011.0,"PHILADELPHIA, PENNSYLVANIA",-75.165222,39.952584
3000529,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,64792.0,2011.0,"CHARLOTTE, NORTH CAROLINA",-80.843127,35.227087
3000537,0,INFOSYS LIMITED,Computer Systems Analysts,LEAD,1,76523.0,2011.0,"JUPITER, FLORIDA",-80.094209,26.934225
3000541,0,INFOSYS LIMITED,Computer Programmers,DEVELOPER,1,49275.0,2011.0,"ROUND ROCK, TEXAS",-97.678896,30.508255
3000544,0,INFOSYS LIMITED,"Computer Occupations, All Other*",APPLICATION TEST LEAD,1,99486.0,2011.0,"BETHPAGE, NEW YORK",-73.482069,40.744266
3000563,0,INFOSYS LIMITED,Computer Systems Analysts,LEAD,1,75587.0,2011.0,"NORTHBROOK, ILLINOIS",-87.828955,42.127527
3000577,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,62462.0,2011.0,"ALPHARETTA, GEORGIA",-84.294090,34.075376
3000600,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,81286.0,2011.0,"SEATTLE, WASHINGTON",-122.332071,47.606209
3000602,0,INFOSYS LIMITED,Computer Systems Analysts,LEAD,1,89939.0,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784
3000630,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,68515.0,2011.0,"PLANO, TEXAS",-96.698886,33.019843
3000676,0,INFOSYS LIMITED,"Computer Occupations, All Other*",APPLICATION TEST LEAD,1,73736.0,2011.0,"MILWAUKEE, WISCONSIN",-87.906474,43.038902
3000695,0,INFOSYS LIMITED,"Computer Occupations, All Other*",APPLICATION TEST ANALYST,1,65770.0,2011.0,"HOUSTON, TEXAS",-95.369803,29.760427
3000709,0,INFOSYS LIMITED,Computer Programmers,DEVELOPER,1,54080.0,2011.0,"WASHINGTON DC, DISTRICT OF COLUMBIA",-77.036871,38.907192
3000743,0,INFOSYS LIMITED,Computer Systems Analysts,LEAD,1,86070.0,2011.0,"HOUSTON, TEXAS",-95.369803,29.760427
3000756,0,INFOSYS LIMITED,Computer Programmers,ANALYST,1,63482.0,2011.0,"MOORESTOWN, NEW JERSEY",-74.948886,39.968882
3000763,0,INFOSYS LIMITED,Computer Systems Analysts,LEAD,1,87942.0,2011.0,"CHARLOTTE, NORTH CAROLINA",-80.843127,35.227087
3001992,0,INFOSYS LIMITED,Computer Systems Analysts,LEAD,1,89939.0,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784

In [19]:
data.dropna(inplace=True)

In [20]:
data =data.sample(n=50000)

In [21]:
from sklearn_pandas import DataFrameMapper
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_selection import SelectKBest
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [22]:
mapper = DataFrameMapper([('EMPLOYER_NAME',TfidfVectorizer()),('SOC_NAME',TfidfVectorizer()),('JOB_TITLE',TfidfVectorizer()),('WORKSITE',TfidfVectorizer())])

In [24]:
mapper.fit_transform(data)

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [34]:
len(mapper.transformed_names_)

20202

In [26]:
from sklearn.pipeline import Pipeline

In [44]:
pipeline = Pipeline([('mapper',mapper),('select',SelectKBest(k=2000)),('naive',MultinomialNB())])

In [45]:
target_data = data.drop(['CASE_STATUS'],axis=1)

In [46]:
pipeline.fit(X=target_data,y=data['CASE_STATUS'])

Pipeline(memory=None,
     steps=[('mapper', DataFrameMapper(default=False, df_out=False,
        features=[('EMPLOYER_NAME', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_... f_classif at 0x1119a8f28>)), ('naive', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [45]:
pipeline.score(X=target_data,y=data['CASE_STATUS'])

0.87716000000000005

In [23]:
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier

In [24]:
from sklearn.svm import SVC
from sklearn.decomposition import PCA

In [48]:
pipeline2 = Pipeline([('mapper',mapper),('pca',PCA()),('guass',GaussianNB())])

In [32]:
pipeline3 = Pipeline([('mapper',mapper),('select',SelectKBest(k=2000)),('svc',SVC())])

In [33]:
pipeline3.fit(X=target_data,y=data['CASE_STATUS'])

Pipeline(memory=None,
     steps=[('mapper', DataFrameMapper(default=False, df_out=False,
        features=[('EMPLOYER_NAME', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_...,
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False))])

### value with select k best in algo to k=1000 pipeline 3

In [31]:
pipeline3.score(X=target_data,y=data['CASE_STATUS'])

0.87292000000000003

### value with select k best in algo to k=2000 pipeline 3

In [35]:
pipeline3.score(X=target_data,y=data['CASE_STATUS'])

0.87292000000000003

In [39]:
pipeline2 = Pipeline([('mapper',mapper),('select',SelectKBest(k=800)),('guass',GaussianNB())])

In [40]:
pipeline2.fit(X=target_data,y=data['CASE_STATUS'])

Pipeline(memory=None,
     steps=[('mapper', DataFrameMapper(default=False, df_out=False,
        features=[('EMPLOYER_NAME', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_...ctKBest(k=800, score_func=<function f_classif at 0x1119a8f28>)), ('guass', GaussianNB(priors=None))])

In [41]:
pipeline2.score(X=target_data,y=data['CASE_STATUS'])

0.2001

In [42]:
from sklearn.model_selection import cross_val_score

In [48]:
scores = cross_val_score(pipeline, data.drop(['CASE_STATUS'],axis=1), data['CASE_STATUS'], cv=3)

In [49]:
np.mean(scores)

0.86089998935675771

In [50]:
scores

array([ 0.86123943,  0.8600744 ,  0.86138614])